<template>
  <div id="tooltipcontainer">
    <gl-deprecated-button id="ref2">Testbutton</gl-deprecated-button>
    <gl-tooltip target="ref2" container="tooltipcontainer">
      some
      <em>tooltip</em>
      text
    </gl-tooltip>
  </div>
</template>
