.gl-form-input,
.gl-form-input.form-control {
  @include gl-bg-none;
  @include gl-font-regular;
  @include gl-font-base;
  @include gl-line-height-normal;
  @include gl-py-3;
  @include gl-px-4;
  @include gl-h-auto;
  @include gl-text-gray-900;
  @include gl-inset-border-1-gray-400;
  @include gl-border-none;
  @include form-control-focus;

  &:disabled {
    @include gl-bg-gray-0;
    @include gl-text-gray-400;
    @include gl-inset-border-1-gray-100;
    @include gl-cursor-not-allowed;
  }

  &:focus {
    @include gl-focus($gl-border-size-1, $gray-900);
    @include gl-text-gray-900;
  }

  &.is-invalid {
    @include gl-inset-border-1-red-500;

    &:focus {
      @include gl-focus($gl-border-size-1, $red-500);
    }
  }

  &::placeholder {
    @include gl-text-gray-400;
  }
}
