<template>
  <div>
    <gl-badge href="#" variant="primary">Primary</gl-badge>
    <gl-badge href="#" variant="secondary">Secondary</gl-badge>
    <gl-badge href="#" variant="success">Success</gl-badge>
    <gl-badge href="#" variant="danger">Danger</gl-badge>
    <gl-badge href="#" variant="warning">Warning</gl-badge>
    <gl-badge href="#" variant="info">Info</gl-badge>
    <gl-badge href="#" variant="light">Light</gl-badge>
    <gl-badge href="#" variant="dark">Dark</gl-badge>
  </div>
</template>
