# Gl{{pascalCase name}}

<!-- STORY -->

<!--
Briefly describe the component's purpose here.
This should correspond to the short description in Pajamas' website: https://design.gitlab.com/components/
-->

## Usage

<!-- Provide technical information on how to use the component, add code examples if relevant. -->

<!--
## Dos and don'ts

If relevant, describe how the component is expected to be used, and how it's not.
-->

<!--
## Browser compatibility

If the component requires any polyfill or fallback on certain browsers, describe those requirements
here.
-->

<!--
## Edge cases

If the component has some known limitations, describe them here.
-->

<!--
## Deprecation warning

If and when this component introduced API changes that would require deprecating old APIs, describe
the changes here, and provide a migration paths to the new API.
-->
