/**
* Transform utilities
*
* naming convention: gl-{transform}-{position}-value
*/

@mixin gl-translate-x-0 {
  transform: translateX(0);
}

@mixin gl-translate-x-100 {
  transform: translateX(100%);
}

@mixin gl-translate-y-0 {
  transform: translateY(0);
}

@mixin gl-translate-y-100 {
  transform: translateY(100%);
}
