.gl-alert {
  @include gl-font-base;
  @include gl-relative;
  @include gl-px-8;
  @include gl-py-5;
}

.gl-alert-title {
  @include gl-font-base;
  @include gl-font-weight-bold;
  @include gl-text-inherit;
  @include gl-line-height-normal;
  @include gl-mt-0;
  @include gl-mb-3;
}

.gl-alert-icon {
  @include gl-absolute;
  @include gl-top-5;
  @include gl-left-5;
  @include gl-w-5;
  @include gl-h-5;
  @include gl-fill-current-color;
}

.gl-alert-icon-no-title {
  @include gl-mt-1;
}

.gl-alert-body {
  @include gl-line-height-20;
}

.gl-alert-actions {
  @include gl-display-flex;
  @include gl-mt-5;
}

.gl-alert-action {
  @include gl-mr-3;
  @include gl-font-base;
  @include gl-line-height-normal;
}

.gl-alert-dismiss {
  @include gl-absolute;
  @include gl-top-0;
  @include gl-right-0;
  @include gl-p-5;
  @include gl-line-height-normal;
  @include gl-text-inherit;
  @include gl-bg-none;
  @include gl-border-none;

  > svg {
    @include gl-fill-current-color;
    @include gl-w-5;
    @include gl-h-5;
    @include gl-vertical-align-middle;
  }
}

.gl-alert-danger {
  @include gl-bg-red-100;
  @include gl-text-red-700;

  .gl-alert-icon,
  .gl-alert-dismiss {
    @include gl-text-red-800;
  }
}

.gl-alert-warning {
  @include gl-bg-orange-100;
  @include gl-text-orange-800;

  .gl-alert-title,
  .gl-link:hover {
    @include gl-text-orange-900;
  }

  .gl-link {
    @include gl-color-inherit;
    @include gl-text-decoration-underline;
  }
}

.gl-alert-tip {
  @include gl-bg-gray-50;
  @include gl-text-gray-600;
}

.gl-alert-info {
  @include gl-bg-blue-50;
  @include gl-text-blue-600;

  .gl-alert-icon,
  .gl-alert-dismiss {
    @include gl-text-blue-600;
  }
}

.gl-alert-success {
  @include gl-bg-theme-green-100;
  @include gl-text-green-700;

  .gl-alert-icon,
  .gl-alert-dismiss {
    @include gl-text-theme-green-800;
  }

  .gl-alert-title,
  .gl-link:hover {
    @include gl-text-green-800;
  }
}
