<template>
  <gl-button-group>
    <gl-deprecated-button>Button 1</gl-deprecated-button>
    <gl-deprecated-button>Button 2</gl-deprecated-button>
    <gl-dropdown text="Some dropdown">
      <gl-dropdown-item>First item</gl-dropdown-item>
      <gl-dropdown-item>Second item</gl-dropdown-item>
      <gl-dropdown-item>Last item</gl-dropdown-item>
    </gl-dropdown>
  </gl-button-group>
</template>
